<div class="form-group" ng-show="testActivated">
    <div class="col-sm-4"></div> <!-- / div for aligment, UI -->
    <div class="progress col-sm-4 progress-bar-aligment">
        <div class="progress-bar progress-bar-striped active"
             role="progressbar"
             aria-valuenow="60"
             aria-valuemin="0"
             aria-valuemax="100"
             ng-style="{'width': currentValue+'%'}">
            {{currentValue}}%
        </div> <!-- / Progress bar progress div-->
    </div> <!-- / Progress bar div-->
</div> <!-- / Progress bar wrapper-->


