<div class="container">
    <nav>
        <ul class="pager">
            <li class="previous"><a href="" ui-sref="testOptions"><span aria-hidden="true">&larr;</span> Back to test </a></li>
        </ul>
    </nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Test Name</th>
                <th>Time</th>
                <th>...</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>QT</td>
                <td>60</td>
                <td>...</td>
            </tr>
        </tbody>
    </table>
</div>